<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006507405134-j6gardika0c7itm08gk5nni4tuobb1lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006507405134-j6gardika0c7itm08gk5nni4tuobb1lk</string>
	<key>API_KEY</key>
	<string>AIzaSyB7mB7oo7-PP8UYIYL_Ek4NopI3eMoSxkg</string>
	<key>GCM_SENDER_ID</key>
	<string>1006507405134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.NomadRaccoon</string>
	<key>PROJECT_ID</key>
	<string>nomadraccoon-1be66</string>
	<key>STORAGE_BUCKET</key>
	<string>nomadraccoon-1be66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006507405134:ios:f14d2e51953949ccf8381f</string>
	<key>DATABASE_URL</key>
	<string>https://nomadraccoon-1be66.firebaseio.com</string>
</dict>
</plist>